@import url('./global.css');

/* --------------------HEADER-------------------- */
header{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;

    padding: 20px 0;

    background-color: #000000;
}

header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

header nav a:nth-child(1){
    color: var(--color-white);
}

header nav a{
    font-size: 16px;
    font-weight: 400;

    color: var(--color-gray1);
}

header nav a .button_wrapper_header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.button_wrapper_header button{
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font-alexandria);

    padding: 8px 24px;
}

.green{
    background-color: var(--color-green);
    color: #000000;

    border-radius: 40px;
}

.black{
    background-color: transparent;
    color: #FFFFFF;
}
/* --------------------MAIN-------------------- */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;

    padding: 60px 0;

    background-color: #000000;
}

main .main_text-button{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

main .main_text-button .main_text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

main .main_text-button .main_text button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    font-size: 14px;
    font-weight: 400;
    font-family: var(--font-alexandria);

    padding: 10px 12px;

    border: 1.5px solid transparent;

    color: var(--color-green);
}

.button-gradient{
    background: 
    linear-gradient(black, black) padding-box,
    linear-gradient(102deg, rgba(179, 179, 179, 0.6), rgba(77, 77, 77, 0.6)) border-box;

    border-radius: 24px;

    border: 1.5px solid transparent;
}

main .main_text-button .main_text h1{
    width: 521px;

    font-size: 64px;
    font-weight: 700;

    line-height: 110%;

    color: var(--color-white);
}

main .main_text-button .main_text p{
    width: 595px;

    font-size: 20px;
    font-weight: 300;

    line-height: 140%;

    color: var(--color-gray1);
}

main .main_text-button .main_button-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

main .main_text-button .main_button-wrapper button{
    font-size: 18px;
    font-weight: 400;
    font-family: var(--font-alexandria);

    padding: 14px 24px;
}

#play{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;

    border: 2px solid transparent;

    background: 
    linear-gradient(black, black) padding-box,
    linear-gradient(102deg, rgba(179, 179, 179, 0.6), rgba(77, 77, 77, 0.6)) border-box;

    border-radius: 40px;
}
/* --------------------PARTNERS-------------------- */
.partners{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    padding: 40px 0;

    background-color: var(--color-gray4);
}

.partners p{
    font-size: 16px;
    font-weight: 400;

    color: var(--color-gray1);
}

.partners .partners_logos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
/* --------------------FEATURES-------------------- */
.features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;

    padding: 60px 0;

    background-color: black;
}

.features .feature_text-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.top_button{
    font-size: 14px;
    font-weight: 400;
    font-family: var(--font-alexandria);

    border: 1.5px solid #2E2E2E;

    border-radius: 24px;

    padding: 12px 20px;

    color: var(--color-green);
}

.features .feature_text-button h2{
    font-size: 48px;
    font-weight: 400;
    
    color: var(--color-white);
}

.features .feature_text-button p{
    width: 600px;

    font-size: 18px;
    font-weight: 400;

    text-align: center;

    line-height: 140%;

    color: var(--color-gray1);
}

.features .feature_boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.features .feature_boxes .feature_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;

    text-align: center;

    padding: 48px 36px;

    border: 1px solid transparent;

    border-radius: 12px;

    background: 
    linear-gradient(rgb(10, 10, 10), rgb(10, 10, 10)) padding-box,
    linear-gradient(116deg,rgba(179, 179, 179, 0.6), rgba(77, 77, 77, 0.6)) border-box;
}

.features .feature_boxes .feature_box .feature_box-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.features .feature_boxes .feature_box .feature_box-text h3{
    font-size: 20px;
    font-weight: 300;

    color: var(--color-white);
}

.features .feature_boxes .feature_box .feature_box-text p{
    width: 338px;

    font-size: 16px;
    font-weight: 400;

    color: var(--color-gray1);
}
/* --------------------STATISTICS-------------------- */
.statistics{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;

    padding: 60px;

    background-color: var(--color-gray4);
}

.statistics .statistics_text-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.statistics .statistics_text-button h2{
    font-size: 48px;
    font-weight: 400;

    color: var(--color-white);
}

.statistics .statistics_text-button p{
    width: 680px;

    font-size: 18px;
    font-weight: 300;

    text-align: center;

    color: var(--color-gray1);
}

.statistics .statistics_numbers{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

.statistics .statistics_numbers .statistics_number{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.statistics_number h3{
    font-size: 48px;
    font-weight: 400;

    color: var(--color-green);
}

.statistics_number p{
    font-size: 20px;
    font-weight: 300;

    color: var(--color-gray1);
}
/* --------------------FEATURE2-------------------- */
.feature2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;

    padding: 60px 0;

    background-color: black;
}

.feature2 .feature2_text-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.feature2 .feature2_text-button h2{
    font-size: 48px;
    font-weight: 400;

    color: var(--color-white);
}

.feature2 .feature2_text-button p{
    width: 680px;

    font-size: 18px;
    font-weight: 300;

    text-align: center;

    color: var(--color-gray1);
}

.feature2 .image-feature2_boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px
}

.feature2 .image-feature2_boxes .feature2_boxes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.feature2_boxes .feature2_box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    padding: 30px 20px;

    border: 1px solid transparent;

    border-radius: 20px;

    background: 
    linear-gradient(rgb(15, 15, 15), rgb(15, 15, 15)) padding-box,
    linear-gradient(101deg,rgba(179, 179, 179, 0.6), rgba(77, 77, 77, 0.6)) border-box;
}

.feature2_boxes .feature2_box .feature2_box-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

.feature2_box-text h3{
    font-size: 20px;
    font-weight: 300;

    color: var(--color-white);
}

.feature2_box-text p{
    width: 530px;

    font-size: 16px;
    font-weight: 400;

    color: var(--color-gray1);
}
/* --------------------FAQ-------------------- */
.FAQ{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;

    padding: 60px 0;

    background-color: var(--color-gray4);
}

.FAQ .faq_text-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.FAQ .faq_text-button h2{
    font-size: 48px;
    font-weight: 400;

    color: var(--color-white);
}

.FAQ .faq_text-button p{
    width: 660px;

    font-size: 18px;
    font-weight: 300;

    text-align: center;

    color: var(--color-gray1);
}

.FAQ .faq_questions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.faq_questions .faq_question{
    width: 792px;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

    padding: 16px 20px;

    border: 1px solid var(--color-gray3);
}

.faq_question p{
    font-size: 16px;
    font-weight: 400;

    color: var(--color-white);
}
/* --------------------REVOLUTIONARY-------------------- */
.revolutionary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    padding: 60px 0;

    background-color: black;
}

.revolutionary h2{
    width: 800px;

    font-size: 48px;
    font-weight: 400;

    text-align: center;

    color: var(--color-white);
}

.revolutionary p{
    width: 644px;

    font-size: 18px;
    font-weight: 300;

    color: var(--color-gray1);
}

.start_button{
    font-size: 18px;
    font-weight: 400;

    color: black;

    padding: 14px 24px;

    background-color: var(--color-green);
}
/* --------------------FOOTER-------------------- */
footer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 126px;

    padding: 40px 0 60px 0;

    background-color:  black;
}

footer .footer_logo-links{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 92px;
}

.footer_logo-links .footer_links{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
}

.footer_links h3{
    font-size: 20px;
    font-weight: 300;

    color: var(--color-white);
}

.footer_links nav{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}

.footer_links nav a{
    font-size: 14px;
    font-weight: 400;

    color: var(--color-gray1);
}

footer .footer_email-area{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;

    border-bottom: 1px solid #999999;
}

.footer_email-area h3{
    width: 198px;

    font-size: 20px;
    font-weight: 300;

    color: #D8D8D8;
}

.footer_email-area .footer_email-input{
    width: 385px;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

    padding: 0 0 16px 0;
}

.footer_email-input input{
    font-size: 14px;
    font-weight: 400;
    font-family: var(--font-alexandria);

    color: var(--color-gray1);
}

.footer_email-input button{
    display: flex;

    padding: 11.07px 11px 10.93px 11px;

    border-radius: 50%;

    background-color: var(--color-green);
}